#!/usr/bin/make -f
# -*- makefile -*-

export DESTDIR := $(CURDIR)/debian/tmp
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#DPKG_EXPORT_BUILDFLAGS = 1
#include /usr/share/dpkg/buildflags.mk

override_dh_installinit:
	dh_installinit --onlyscripts --no-start

override_dh_auto_configure:
	./configure 				\
		--prefix=/usr			\
		--sysconfdir=/etc		\
		--with-freeipmi			\
		--with-tcp-wrappers

%:
	dh $@
